<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body background="/1.jpg">
<div class="container" >
    <table>
        <thead>
         <tr>
             <td>id</td>
             <td>adds</td>
             <td>tele</td>
         </tr>
        </thead>
        <tbody>
        <tr>
            <td>
1
            </td>
            <td>
                7025 Franklin Avenue, Hollywood, Los Angeles, CA 90028 (Central L.A)
            </td>
            <td>
                1 323-851-0800
            </td>
        </tr>
        <tr>
            <td>
2
            </td>
            <td>
                701 Stone Canyon Rd., Los Angeles, CA 90077 (Westside)
            </td>
            <td>
                1 310-472-1211
            </td>
        </tr>
        <tr>
            <td>
3
            </td>
            <td>
                8435 Beverly Blvd, Los Angeles, CA 90048 (Central L.A)
            </td>
            <td>
                866-203-2212
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>
                285 Lucas Avenue, Los Angeles, CA 90026 (Downtown)
            </td>
            <td>
                213-481-8181
            </td>
        </tr>
        <tr>
            <td>5</td>
            <td>
                3515 Wilshire Blvd., Los Angeles, CA 90010 (Formerly The Wilshire Supermarket Los Angeles) (Central L.A)
            </td>
            <td>
                213-381-7411
            </td>
        </tr>
        <tr>
            <td>
6
            </td>
            <td>
                11461 Sunset Boulevard, Los Angeles, CA 90049 (Westside)
            </td>
            <td>
                310-476-6571
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>