<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand">Smart Supermarket Management System For Customer</a>
        </div>
    </nav>
    <div id="cloud">
        <canvas width="300" height="300" id="myCanvas">
            <p>Anything in here will be replaced on browsers that support the canvas element</p>
            <ul class="weighted" style="font-size: 30%" id="weightTags">
                <li><a href='topicpage?topicID=01207101' data-weight=22>Ecology</a></li>
                <li><a href='topicpage?topicID=09F93DAF' data-weight=22>Evolution</a></li>
                <li><a href='topicpage?topicID=03B9FD3C' data-weight=22>Quantum mechanics</a></li>
                <li><a href='topicpage?topicID=01C2B6B9' data-weight=22>Cell cycle</a></li>
                <li><a href='topicpage?topicID=20F5F5CD' data-weight=22>DNA</a></li>
                <li><a href='topicpage?topicID=0A1E571C' data-weight=30>Neuroscience</a></li>
                <li><a href='topicpage?topicID=073B64E4' data-weight=22>Physics</a></li>
                <li><a href='topicpage?topicID=09ED754B' data-weight=22>Nature</a></li>
                <li><a href='topicpage?topicID=08FE992B' data-weight=22>Biotechnology</a></li>
                <li><a href='topicpage?topicID=0660586C' data-weight=22>Medical research</a></li>
                <li><a href='topicpage?topicID=04091988' data-weight=22>RNA</a></li>
                <li><a href='topicpage?topicID=05DB8CBD' data-weight=22>Pharmacology</a></li>
                <li><a href='topicpage?topicID=07E8184B' data-weight=22>Climate change</a></li>
                <li><a href='topicpage?topicID=092C7EF1' data-weight=22>Molecular biology</a></li>
                <li><a href='topicpage?topicID=0259B070' data-weight=22>Environmental science</a></li>
                <li><a href='topicpage?topicID=04497984' data-weight=22>Medicine</a></li>
                <li><a href='topicpage?topicID=034EC4EB' data-weight=22>Biochemistry</a></li>
                <li><a href='topicpage?topicID=0919714E' data-weight=22>Systems biology</a></li>
                <li><a href='topicpage?topicID=073F98A1' data-weight=22>Cancer</a></li>
                <li><a href='topicpage?topicID=03B95773' data-weight=22>Signal transduction</a></li>
                <li><a href='topicpage?topicID=0A351284' data-weight=22>Nanotechnology</a></li>
                <li><a href='topicpage?topicID=033D6521' data-weight=22>Genetics</a></li>
                <li><a href='topicpage?topicID=08F94C62' data-weight=22>Cell signaling</a></li>
                <li><a href='topicpage?topicID=052C8328' data-weight=22>Biology</a></li>
                <li><a href='topicpage?topicID=001DFCE5' data-weight=22>Earth science</a></li>
            </ul>
        </canvas>
    </div>
    <script src='/js/tagcloud.js'></script>
    <script src="/js/cloud.js"></script>
</div>
</body>
</html>
