<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Smart Supermarket Management System</title>

    <!-- Bootstrap Core CSS -->
    <link href="/dash/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/dash/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/dash/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/dash/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- DataTables CSS -->
    <link href="/dash/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="/dash/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Social Buttons CSS -->
    <link href="/dash/vendor/bootstrap-social/bootstrap-social.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Smart Supermarket Management System v1.0 for manager</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">20% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">80% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/managers"><i class="fa fa-bar-chart-o fa-fw"></i> Sales Reports & Graph</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Analyze Center<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/m11">Customer Classification</a>
                                </li>
                                <li>
                                    <a href="/m12">Recommend Products</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="/m2"><i class="fa fa-table fa-fw"></i> Human Resource</a>
                        </li>
                        <li>
                            <a href="/managers3"><i class="fa fa-edit fa-fw"></i> Goods Management</a>
                        </li>
                        <li>
                            <a href="/m4"><i class="fa fa-wrench fa-fw"></i> Bills Calendar</a>
                        </li>
                        <li>
                            <a href="/m5"><i class="fa fa-edit fa-fw"></i> Sale Strategy</a>
                        </li>
                        <li>
                            <a href="/m6"><i class="fa fa-files-o fa-fw"></i> Members management</a>
                        </li>
                        <li>
                            <a href="/m7"><i class="fa fa-edit fa-fw"></i> System Maintenance </a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Manage staff</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row                                 this is act beginning-->
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        Inquire the employee
                    </div>
                    <div class="panel-body">
                        <div class="form-group input-group">
                            <input type="text" class="form-control" id="searching">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="searchingbutton"><i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="panel-footer">
                        Input the staff name
                    </div>
                </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Basic information
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form role="form">
                                    <label for="disabledSelect">the staff id of employee:</label>
                                    <div class="panel panel-default">
                                        <div class="panel-body" id="hh1">
                                        </div>
                                    </div>
                                </form>
                                <form role="form">
                                    <label for="disabledSelect">the name of employee:</label>
                                    <div class="panel panel-default">
                                        <div class="panel-body" id="hh2">
                                        </div>
                                    </div>
                                </form>
                                <form role="form">
                                    <label for="disabledSelect">the gender of employee:</label>
                                    <div class="panel panel-default">
                                        <div class="panel-body" id="hh3">
                                        </div>
                                    </div>
                                </form>
                                <form role="form">
                                    <label for="disabledSelect">the rank of employee:</label>
                                    <div class="panel panel-default">
                                        <div class="panel-body" id="hh4">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                            <div class="col-lg-6">
                                <form role="form">
                                    <label for="disabledSelect">employee position:</label>
                                    <div class="panel panel-default">
                                        <div class="panel-body" id="hh5">
                                        </div>
                                    </div>
                                </form>
                                <form role="form">
                                    <label for="disabledSelect">employee supermarket id:</label>
                                    <div class="panel panel-default">
                                        <div class="panel-body" id="hh6">
                                        </div>
                                    </div>
                                </form>
                                <form role="form">
                                    <label for="disabledSelect">employee salary:</label>
                                    <div class="panel panel-default">
                                        <div class="panel-body" id="hh7">
                                        </div>
                                    </div>
                                </form>
                                <form role="form">
                                    <label for="disabledSelect">employee absence record:</label>
                                    <div class="panel panel-default">
                                        <div class="panel-body" id="hh8">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                        <div>
                            <form role="form">
                                <label for="disabledSelect">note record:</label>
                                <div class="panel panel-default">
                                    <div class="panel-body" id="hh9" style="height: 200px">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    </div>
                    <div style="height: 100px"></div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            manage and modify
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-3">
                                    <input class="form-control" id="sab">
                                </div>
                                <div class="col-lg-3">
                                    <button type="button" class="btn btn-warning" id="saj">new salary</button>
                                </div>
                                <div class="col-lg-3">
                                    <input class="form-control" id="pob">
                                </div>
                                <div class="col-lg-3">
                                    <button type="button" class="btn btn-warning" id="poj">new position</button>
                                </div>
                            </div>
                            <div style="height: 25px"></div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <input class="form-control" id="sub">
                                </div>
                                <div class="col-lg-3">
                                    <button type="button" class="btn btn-warning" id="suj">new supermarket id</button>
                                </div>
                                <div class="col-lg-3">
                                    <input class="form-control" id="rab">
                                </div>
                                <div class="col-lg-3">
                                    <button type="button" class="btn btn-warning" id="raj">new rank</button>
                                </div>
                            </div>
                            <div style="height: 25px"></div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <button type="button" class="btn btn-outline btn-danger" style="width: 200px" id="fire">fire</button>
                                </div>
                                <div class="col-lg-4">
                                    <button type="button" class="btn btn-outline btn-danger" style="width: 200px" id="absence">record absence</button>
                                </div>
                                <div class="col-lg-4">
                                    <button type="button" class="btn btn-outline btn-danger" style="width: 200px" id="pay">pay salary</button>
                                </div>
                            </div>
                            <div style="height: 25px"></div>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    note taking
                                </div>
                                <div class="panel-body">
                                    <textarea class="form-control" rows="5" id="content"></textarea>
                                    <div class="row">
                                        <div class="col-lg-offset-9">
                                            <button type="button" class="btn btn-success" style="width: 100px" id="note">write</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.                                  this is act endding-->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/dash/vendor/jquery/jquery.min.js"></script>
    <script src="/javascripts/m2.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/dash/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/dash/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="/dash/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/dash/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/dash/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/dash/dist/js/sb-admin-2.js"></script>
    <script>
        $(document).ready(function() {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
    </script>

</body>

</html>
